// Styles for Header Component

header
  background: #74a089
  padding: 50px 0 20px

  a
    text-decoration: none

    &:hover
      h1
        color: #f5cdb4

    h1
      color #fff
      font-family: sans-serif
      font-size: 50px;
      text-align: center
      text-transform: uppercase
      transition: 0.3s color ease